html, body{
	margin: 0 !important;
	padding: 0 !important;
	    height: 100vh;
}


*{
	outline: none !important;
}

:focus{
	outline: none !important;	
}


button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

:focus {
    outline-style: none !important;
    outline-width: 0px !important;
    outline-color: none !important;
}

*{
	-moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
-khtml-user-select: none;
user-select: none; 
-webkit-appearance: none;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
-webkit-tap-highlight-color: transparent;     
}


a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

.no-sv{
	display: none !important;
}

.mob-br-d{
	display: none;
}

.only-mm{
	display: none !important;
}


.only-p{
	display: none !important;
}


/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
    background: rgb(255,238,234);
    background: -moz-linear-gradient(top, rgba(255,238,234,1) 0%, rgba(247,202,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,238,234,1) 0%,rgba(247,202,220,1) 100%);
    background: linear-gradient(to bottom, rgba(255,238,234,1) 0%,rgba(247,202,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeeea', endColorstr='#f7cadc',GradientType=0 );
	z-index:99; /* makes sure it stays on top */
}

#status img{
	width: 100%;
	position: absolute;
}

#status {
	width: 10vw !important;
	position:absolute;
	left: 50%; /* centers the loading animation horizontally one the screen */
	top: 50%; /* centers the loading animation vertically one the screen */
	background-repeat:no-repeat;
	background-position:center;
	margin: -3vw 0 0 -5vw; /* is width and height divided by two */
	height: 4.4vw;
	overflow: hidden;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}


.mobile-anim-blk  .str-mob.str_wrap.str_right {
    width: 100%;
    height: 34vw;
}

 .mobile-anim-blk .str-mob.str_wrap{
	    height: 49vw !important;
}

.mobile-anim-blk .scroll-img img {
    width: 30vw;
}


.mobile-anim-blk .str_wrap{
	width: 100vw !important;
}

.mobile-anim-blk .scroll-img{
	float: none;
	display: inline-block !important;
	vertical-align: middle !important;
}

.mobile-anim-blk .str_move{
	width: 875vw !important;
}

.mobile-anim-blk {
    z-index: 11;
    position: absolute;
    bottom: 32vw;
    height: 47vw;
    width: 100% !important;
    overflow: hidden;
}

.only-des-mob{
	display: none;
}


.mobile-anim-blk .scroll-img img {
    width: 47vw;
    height: auto !important;
}

.mobile-anim-blk{
	position: relative;
}

.mobile-anim-blk .flk{
	   z-index: 11;
	   position: absolute;
	   left: 0;
	   right: 0;
	   top: 0;
	   bottom: 0;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bg1 {
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 5.5vh;
    height: 83.3vh;
}

.bg2 {
    margin: 0;
    padding: 0;
    position: relative;

    padding-top: 2vw;
}


*{
	font-family: 'Ribeye', cursive;
}

.logo {
    width: 8.4vw;
    height: 4.4vw;
    background: url(../img/logo.svg) 0 0 no-repeat;
    background-size: contain;
    margin-left: 10.99vw;
    position: relative;
    float: left;
    background-position: center;
}



.line-scroll1 {
    width: 11.5vw;
    position: absolute;
    right: 10vw;
    top: 0;
}

.line-scroll2 {
    width: 11.5vw;
    position: absolute;
    right: 24vw;
    top: 0;
}

.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 87vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -19.6vw;
    margin-top: 5vw;
}

.anim-blk img{
	width: 100%;
}

marquee {
    height: 100%;
    width: 100%;
    background: none;
    border: 0;
}


.title {
    margin-left: 11vw;
    margin-top: 8.1vh;
    font-size: 3.5vw;
    max-width: 35vw;
    line-height: 4.2vw;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
}

.sub-btn {
    margin-left: 11vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 1.44vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    padding-top: 0.73vw;
    padding-bottom: 0.55vw;
    position: absolute;
    outline: none !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    margin-bottom: 1vw;
    position: absolute;
    bottom: 0;
}

.back{
	  transition: all 0.3s ease 0s;
}

.sub-btn:hover{
	background: #FECBE3;
}

.soc1 {
    width: 2.7vw;
    height: 2.7vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 2vh;
    position: relative;
    left: 3vw;
    transition: all 0.3s ease 0s;
    float: left;
}

.soc2 {
    width: 2.7vw;
    height: 2.7vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 2vh;
    position: relative;
    left: 3.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    z-index: 99;
}

.soc1:hover, .soc2:hover{
	opacity: 0.4;
}

.continer-block2 .logo {
    margin: 0 auto;
    width: 17vw;
    margin-top: 0;
    height: 7.5vw;
    margin-bottom: 2.5vw;
}

.copy {
    font-family: 'Sniglet', cursive;
    color: #fff;
    font-size: 0.8vw;
    position: absolute;
    right: 10vw;
    bottom: -2vw;
    margin-bottom: 0.5vw;
}

.bg-form {
    background: #fff;
    border-radius: 2.4vw;
    max-width: 23vw;
    margin: 0 auto;
    padding: 2.3vw 3vw 3vw;
    margin-top: 0;
    margin-bottom: 1vw;
    z-index: 11;
    position: relative;
}

label {
    display: block;
    text-align: center;
    color: #FF7ABC;
    font-family: 'Sniglet', cursive;
    font-size: 1.2vw;
}

input {
    width: 100%;
    border: 0;
    border-radius: 10vw;
    background: #FFE7F2;
    height: 2.6vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: 'Sniglet', cursive;
    font-size: 1.06vw;
    color: #8669AB;
    outline: none !important;
    box-sizing: border-box;
}

.input-area {
    margin-bottom: 1.4vw;
}

.bg-form span {
    margin-top: -0.8vw;
    font-family: 'Sniglet', cursive !important;
    font-size: 0.8vw;
    color: #FF7ABC;
    text-align: center;
    display: block;
}

.bg-form .sub-btn {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 2vw;
    font-size: 1.44vw;
    margin-bottom: 0;
    padding-top: 0.5vw;
    padding-bottom: 0.4vw;
    background: #866BA9;
}

.continer-block2 {
    height: 86.5vh;
}

.anim-blk {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 38vw;
    float: right;
}

.title-sub{
	text-align: center;
	display: block;
	font-family: 'Sniglet', cursive;
	font-weight: bold;
	color: #FF7ABC;
	font-size: 3vw;
	margin-top: 25vh;
	text-transform: uppercase;
	position: absolute;
	width: 24vw;
	left: 50%;
	margin-left: -12vw;
	line-height: 3.4vw;
}

.title-sub span {
    margin-top: 3vw;
    display: block;
}



.anim-blk{
	position: fixed !important;
}

.mob-br{
	display: none;
}

.mobile-anim-blk{
	display: none;
}

@media (max-width: 760px) and (max-aspect-ratio: 15/9){
.bg-form {
    background: none;
    border-radius: 2.4vw;
    max-width: 77%;
    margin: 0 auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2vh;
    z-index: 11;
    position: relative;
}

.only-mm{
	display: block !important;
}

.mvx{
	display: none !important;
}

.bg-form .sub-btn:hover{
	background: #846BA8;
	opacity: 1;
}

.anim-blk{
	display: none;
}

.logo{
	    margin: 0 auto;
	    width: 41vw;
	    margin-top: 0;
	    height: 18.5vw;
	    margin-bottom: 2.2vh;
	    background-size: contain;
	    margin-left: auto;
	    position: relative;
	    margin-right: auto;
	    float: none;
}

.bg1, .bg2 {
    padding-top: 5vh !important;
}


.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 61vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -55.6vw;
    margin-top: 29vw;
}

.title {
    margin-left: auto;
    margin-top: 1.6vh;
    font-size: 5.3vh;
    max-width: 88%;
    line-height: 5.7vh;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1.2vh;
}

.title br {
    display: none;
}


body #status {
    width: 30vw !important;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -6vw 0 0 -15vw;
    height: 11vw;
    overflow: hidden;
}

.mob-br{
	display: block !important;
}



.input-area {
    margin-bottom: 5.7vw;
}

.title-sub span {
    margin-top: 15vw;
    display: block;
}

input {
    width: 100%;
    border: 0;
    border-radius: 10vw;
    background: #fff;
    height: 10.8vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: 'Sniglet', cursive;
    font-size: 4.16vw;
    color: #8669AB;
    outline: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    box-sizing: border-box;
}
label {
    display: block;
    text-align: center;
    color: #FF7ABC;
    font-family: 'Sniglet', cursive;
    font-size: 6.2vw;
    margin-bottom: 3vw;
}
.bg-form span {
    margin-top: -0.8vw;
    font-family: 'Sniglet', cursive !important;
    font-size: 3.1vw;
    color: #FF7ABC;
    text-align: center;
    display: block;
}
.bg-form .sub-btn {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 10vw;
    font-size: 6.48vw;
    margin-bottom: 0;
    padding-top: 1.5vw;
    padding-bottom: 1.4vw;
}


body .back {
    margin-right: 5vw;
    height: 11.5vw;
    width: 15vw;
    border: 0;
    border-radius: 50vw;
    margin-top: 1.96vw;
    padding: 0;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
    margin-top: 9.9vw;
}


.continer-block2 .logo {
    margin: 0 auto;
    width: 41vw;
    margin-top: 0;
    height: 18.5vw;
    margin-bottom: 6vw;
}
.bg2 {
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 6vw;
}
.copy {
    font-family: 'Sniglet', cursive;
    color: #fff;
    font-size: 2.3vw;
    position: absolute;
    right: 9.5vw;
    bottom: 2vw;
    margin-bottom: 2vw;
    float: right;
    display: none;
}

.continer-block2 {
    height: 86.5vh;
    position: absolute;
    width: 100%;
}
.title-sub {
    position: relative;
    font-size: 12vw;
    line-height: 14vw;
    width: 80vw;
    margin-left: -40vw;
    margin-top: 20vh;
}

body {
    line-height: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg1 .sub-btn {
    margin-left: -18vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 6.48vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 4.2vw;
    padding-right: 4.2vw;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    outline: none !important;
    transition: none !important;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    margin-bottom: 1vw;
    position: relative;
    bottom: 0;
    left: 50%;
    width: 28vw;
    text-align: center;
    margin-top: 6.2vw;
    margin-bottom: 4vw;
    height: 11.2vw;
    line-height: 1vw;
}

.bg1 .sub-btn:hover{
		background: #846BA8;
	opacity: 1;
}

.bg1 {
    height: 85.3vh;
    padding-top: 5vh !important;
}

.soc1 {
    width: 11.4vw;
    height: 11.4vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    display: block;
    top: auto;
    position: relative;
    left: 11vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto;
    top: 6.2vw;
}

.soc2 {
    width: 11.4vw;
    height: 11.4vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: auto;
    position: absolute;
    right: 11vw;
    left: auto;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto;
    top: 79.1vw;
    width: 11.4vw;
    height: 11.4vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    display: block;
    top: auto;
    position: relative;
    right: 11vw;
    transition: all 0.3s ease 0s;
    float: right;
    bottom: auto;
    top: -15.2vw;
}

.mobile-anim-blk{
	display: block !important;
	bottom: auto;
	top: 0vw;
}



}

.clear{
	overflow: hidden;
	clear: both;
}

.b1{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffeeea+0,f7cadc+100 */
background: rgb(255,238,234); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,238,234,1) 0%, rgba(247,202,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,238,234,1) 0%,rgba(247,202,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,238,234,1) 0%,rgba(247,202,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeeea', endColorstr='#f7cadc',GradientType=0 ); /* IE6-9 */
}

.b3{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffeeea+0,f7cadc+100 */
background: rgb(255,238,234); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,238,234,1) 0%, rgba(247,202,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,238,234,1) 0%,rgba(247,202,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,238,234,1) 0%,rgba(247,202,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeeea', endColorstr='#f7cadc',GradientType=0 ); /* IE6-9 */
}


@media (min-width: 1200px){
.bg2 {
    padding-top: 5.6vh;
}}


@media screen and (max-width: 1023px) and (min-aspect-ratio: 15/9){
	.line-scroll2{
		display: none;
	}
	.line-scroll1 {
    width: 29vw !important;
    right: 5vw;
}

.line-scroll1{
	display: none !important;
}

.line-scroll1.only-des-mob{
	display: block !important;
}


.logo {
    width: 35.4vh;
    height: 14vh;
    margin-top: 1.9vh;
}

.title br{
	display: none !important;
}
.title {
    margin-left: 5vw;
    margin-top: 4.1vh;
    font-size: 7.6vh;
    max-width: 53vw;
    line-height: 9.7vh;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
}

.sub-btn {
    margin-left: 11vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 3.44vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-top: 1.53vw;
    padding-bottom: 1.25vw;
    position: absolute;
    outline: none !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    margin-bottom: 1vw;
    position: absolute;
    bottom: auto;
    left: 11vw;
    top: 31vw;
}

body #status {
    width: 14vw !important;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -4vw 0 0 -7vw;
    height: 4.9vw;
    overflow: hidden;
}

.soc1 {
    width: 6.3vw;
    height: 6.3vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 31vw !important;
    position: absolute;
    left: 5vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto !important;
}

.soc2 {
    width: 6.3vw;
    height: 6.3vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 31vw !important;
    position: absolute;
    left: 13.5vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto !important;
}

.logo {
    margin-left: 4.99vw;
}

.continer-block2 .logo {
    margin: 0 auto;
    width: 17vw;
    margin-top: 0;
    height: 7.5vw;
    margin-bottom: 2.5vw;
    width: 20.4vw;
    height: 10vw;
    margin-top: 0vw;
}

.bg-form{
	background: none !important;
	padding: 0 !important;
}

.copy{display: none !important;	}


.title-sub {
    text-align: center;
    display: block;
    font-family: 'Sniglet', cursive;
    font-weight: bold;
    color: #FF7ABC;
    font-size: 6vw;
    margin-top: 13vh;
    text-transform: uppercase;
    position: absolute;
    width: 52vw;
    left: 50%;
    margin-left: -26vw;
    line-height: 6.4vw;
}

.bg-form {
    width: 100% !important;
    max-width: 85%;
}

.only-p{
	display: block !important;
}

.hidd-p{
	display: none !important;
}

.bs{
		overflow: inherit !important;
		position: relative;
}


.sub-area {
    width: 48%;
    float: left;
}

.sub-area2 {
    width: 48%;
    float: right;
}
body .only-p.back {
    margin-right: 0;
    margin-left: 2vw;
    margin-top: 1.65vw;
    height: 3vw !important;
    width: 11vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 3.44vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-top: 1.13vw;
    padding-bottom: 1.25vw;
    position: absolute;
    outline: none !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
    margin-top: 11vw;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    text-align: center;
    left: 50%;
    margin-left: -7.5vw;
    margin-bottom: 2vw;
}

body .only-p.back:hover{
	opacity: 1 !important;
	background: #e4adc7 !important;
}

.bg-form span{
	    padding-right: 47px;
}

.bg-form .sub-btn {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 2vw;
    font-size: 1.44vw;
    margin-bottom: 0;
    padding-top: 0.5vw;
    padding-bottom: 0.4vw;
    left: 0 !important;
    bottom: 0;
}

input{
	background: #fff !important;
}

input {
    width: 100%;
    border: 0;
    border-radius: 10vw;
    height: 5.4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: 'Sniglet', cursive;
    font-size: 2.36vw;
    color: #8669AB;
    outline: none !important;
    box-sizing: border-box;
}

label {
    font-size: 3vw;
}

.bg-form span {
    margin-top: -1.4vw;
    font-family: 'Sniglet', cursive !important;
    font-size: 1.8vw;
    color: #FF7ABC;
    text-align: center;
    display: block;
    line-height: 2.2vw;
    margin-bottom: -0.9vw;
}


body .back {
    margin-right: 2vw;
    height: 5.6vw;
    width: 6.8vw;
    border: 0;
    border-radius: 50vw;
    margin-top: 1.96vw;
    padding: 0;
    cursor: pointer;
    background-position: center;
    background-size: contain;
}

.bg-form .sub-btn {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 2vw;
    font-size: 3.14vw;
    margin-bottom: 0;
    padding-top: 0.5vw;
    padding-bottom: 0.4vw;
    left: 0 !important;
    bottom: 0;
    height: 5.4vw;
    top: 0;
}

.mob-br-d{
	display: block;
}

.input-area {
    margin-bottom: 3vw;
}

.bg-form {
    margin-top: 2vw;
}

.mobile-anim-blk{
	display: none !important;
}

.line-scroll1.only-des-mob{
	display: block !important;
}

.only-des-mob{
	top: -2000px !important;
}

.only-des-mob{
	padding-top: 2000px !important;
}

}


.bg-form span a{
    color: #FF7ABC !important;
    text-decoration: underline !important;
}


.bg-form span a:hover{
	  text-decoration: none !important;
}

*{
	-webkit-font-smoothing: antialiased;

}

@media screen and (min-device-width: 768px) and (max-device-width: 1366px) and (max-aspect-ratio: 15/9){
	.soc1, .soc2 {
    top: 1vw;

}

.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 88vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -39.6vw;
    margin-top: 5vw;
}
}


@media only screen
and (min-device-width : 767px) 
and (max-device-width : 1366px) 
and (orientation : landscape) {



.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 88vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -39.6vw;
    margin-top: 5vw;
}

}




@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.title-sub {
    position: relative;
    font-size: 6.5vw;
    line-height: 7vw;
    width: 80vw;
    margin-left: -40vw;
    margin-top: 28vh;
}

.anim-blk{
	display: none;
}

.mobile-anim-blk .str-mob.str_wrap, .mobile-anim-blk {
    height: 20vw !important;
}



body .back {
    margin-right: 2vw;
    height: 5.3vw;
    width: 6.6vw;
    border: 0;
    border-radius: 50vw;
    margin-top: 5.1vw;
    padding: 0;
    cursor: pointer;
    background-position: center;
    background-size: 110% 110%;
}


.title-sub span {
    margin-top: 6vw;
    display: block;
}
.continer-block2 .logo {
    margin: 0 auto;
    width: 35vw;
    margin-top: 3vw;
    height: 12.5vw;
    margin-bottom: 6vw;
}

.bg-form {
    background: #fff;
    border-radius: 2.4vw;
    max-width: 55vw;
    margin: 0 auto;
    padding: 3.3vw 4vw 6vw;
    margin-top: 0;
    margin-bottom: 1vw;
    z-index: 11;
    position: relative;
}
label {
    display: block;
    text-align: center;
    color: #FF7ABC;
    font-family: 'Sniglet', cursive;
    font-size: 3.2vw;
    margin-bottom: 1vw;
}


input {
    width: 100%;
    border: 0;
    border-radius: 10vw;
    background: #FFE7F2;
    height: 5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: 'Sniglet', cursive;
    font-size: 2.36vw;
    color: #8669AB;
    outline: none !important;
    box-sizing: border-box;
}

.input-area {
    margin-bottom: 2.7vw;
}

.bg-form span {
    margin-top: 0.2vw;
    font-family: 'Sniglet', cursive !important;
    font-size: 1.8vw;
    color: #FF7ABC;
    text-align: center;
    display: block;
}

.bg-form {
    background: #fff;
    border-radius: 5.4vw;
    max-width: 47vw;
    margin: 0 auto;
    padding: 4.3vw 5vw 5vw;
    margin-top: 0;
    margin-bottom: 1vw;
    z-index: 11;
    position: relative;
}

.copy {
    font-size: 1.8vw;
    right: auto;
    left: 50%;
    width: 50vw;
    margin-left: -25vw;
    text-align: center;
}

.bg-form .sub-btn {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 5vw;
    font-size: 3.28vw;
    margin-bottom: 0;
    padding-top: 0.5vw;
    padding-bottom: 0.4vw;
}

.logo {
    width: 20.4vw;
    height: 9vw;
    background: url(../img/logo.svg) 0 0 no-repeat;
    background-size: contain;
    margin-left: 5.99vw;
    position: relative;
    float: left;
    margin-top: -2vw;
}

.soc1 {
    width: 6.4vw;
    height: 6.4vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 4.6vh !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 15vw;
}

body #status {
    width: 18vw !important;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -3vw 0 0 -9vw;
    height: 6.4vw;
    overflow: hidden;
}

.soc2 {
    width: 6.4vw;
    height: 6.4vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 0 !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 7vw;
}

.title {
    margin-left: auto;
    margin-top: 1.1vh;
    font-size: 7.2vw;
    max-width: 52%;
    line-height: 8.2vw;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
    margin-right: auto;
    text-align: center;
}

.mobile-anim-blk {
    display: block !important;
    bottom: auto;
    top: 6vw;
}

.mobile-anim-blk .scroll-img img{
	width: 18vw !important;
}

.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 80vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -32.6vw;
    margin-top: 21vw;
}

.bg1 .sub-btn {
    margin-left: -9.4vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 3.44vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-top: 1.73vw;
    padding-bottom: 1.55vw;
    position: absolute;
    outline: none !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    margin-bottom: -2vh;
    position: absolute;
    bottom: 0;
    margin-right: auto;
    left: 50%;
}

.mobile-anim-blk .str_move{
	width: 340vw !important;
}

.bg1 {
    height: 80.3vh;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait){
.title {
    margin-left: auto;
    margin-top: 13.1vh;
    font-size: 5.9vh;
    max-width: 77%;
    line-height: 7vh;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.2vh;
}
}


	/*Plugin CSS*/
.str_wrap {
	overflow:hidden;
	font-size:12px;
	line-height:16px;
	position: absolute;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	background: none;
	white-space:nowrap;
	height: 100vh;
}


.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
}
.str_move_clone {
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	position:absolute; 
	left:100%;
	top:0;
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {
	max-width:none !important;	
}

.fg{
	z-index: 11;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.str3 img{
	margin-bottom: -0.7vw !important;
}



@media only screen
and (min-width : 761px) 
and (max-width : 1200px) 
and (orientation : landscape) {

.soc1, .soc2 {
    top: 1vw;
}
}


html {
    background: #F6CADC;
}

a{
	text-decoration: none !important;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation : landscape){
	.logo {
    width: 11.4vw;
}

.soc1 {
    width: 3.7vw;
    height: 3.7vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 0.5vw !important;
    position: relative;
    left: 3vw;
    transition: all 0.3s ease 0s;
    float: left;
}

.soc2 {
    width: 3.7vw;
    height: 3.7vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 0.5vw !important;
    position: relative;
    left: 4.2vw;
    transition: all 0.3s ease 0s;
    float: left;
}
.title {
    margin-left: 11vw;
    margin-top: 8.1vh;
    font-size: 4.5vw;
    max-width: 45vw;
    line-height: 5.2vw;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
}

.sub-btn {
    font-size: 2.24vw;
}

.continer-block2 .logo {
    margin: 0 auto;
    width: 19vw;
    margin-top: 0;
    height: 8.5vw;
    margin-bottom: 2.5vw;
}
.bg-form {
    background: #fff;
    border-radius: 2.4vw;
    max-width: 23vw;
    margin: 0 auto;
    padding: 2.3vw 3vw 3vw;
    margin-top: 7vw;
    margin-bottom: 1vw;
    z-index: 11;
    position: relative;
    transform: scale(1.2);
}
.copy {
    font-size: 0.8vw;
}

.bg2 {
    padding-top: 3.6vw;
}

.title-sub {
    text-align: center;
    display: block;
    font-family: 'Sniglet', cursive;
    font-weight: bold;
    color: #FF7ABC;
    font-size: 4vw;
    margin-top: 25vh;
    text-transform: uppercase;
    position: absolute;
    width: 27vw;
    left: 50%;
    margin-left: -13.5vw;
    line-height: 4.4vw;
}
}


.opa0{
	opacity: 0;
}

.bg-form .sub-btn:hover{
	background: #CDB8E9;
}

.back {
    margin-right: 2vw;
    height: 2.8vw;
    width: 3.8vw;
    background: url(../img/bt.svg) 0 0 no-repeat;
    border: 0;
    border-radius: 50vw;
    margin-top: 1.96vw;
    padding: 0;
    cursor: pointer;
    background-position: center;
    background-size: contain;
}

.back:hover{opacity: 0.4;}

:focus{
	outline: none !important;
}

.btns-area {
    display: flex;
    margin: 0 auto;
    margin-bottom: 0;
}


.opa-img{
	opacity: 0;
	 animation: fadeInFromNone 0.7s ease-out infinite;
}



@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@media (max-device-width: 1400px){
	html, body{
		overflow: hidden !important;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	
	.bs{
	overflow: inherit !important;
		position: relative;
}
	
}



@media screen and (max-width: 1023px) and (min-aspect-ratio: 15/9){
	.soc1 {
    width: 6.3vw;
    height: 6.3vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    display: block;
    top: 66vh !important;
    position: absolute;
    left: 5vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto !important;
}

.soc2 {
    width: 6.3vw;
    height: 6.3vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    display: block;
    top: 66vh !important;
    position: absolute;
    left: 13.5vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto !important;
}

.sub-btn {
    margin-left: 11vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 3.44vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-top: 1.53vw;
    padding-bottom: 1.25vw;
    position: absolute;
    outline: none !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    margin-bottom: 1vw;
    position: absolute;
    bottom: auto;
    left: 11vw;
    top: 66vh;
}
}




@media screen  and (min-width: 740px) and (max-width: 900px) and (min-aspect-ratio: 15/9){
.soc1 {
    width: 6.3vw;
    height: 6.3vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 64vh !important;
    position: absolute;
    left: 5vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto !important;
}

.soc2 {
    width: 6.3vw;
    height: 6.3vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 64vh !important;
    position: absolute;
    left: 13.5vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto !important;
}

.sub-btn {
    margin-left: 11vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 3.44vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-top: 1.53vw;
    padding-bottom: 1.25vw;
    position: absolute;
    outline: none !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    margin-bottom: 1vw;
    position: absolute;
    bottom: auto;
    left: 11vw;
    top: 64vh;
}

.title {
    margin-left: 5vw;
    margin-top: 3.1vh;
    font-size: 8vh;
    max-width: 45vw;
    line-height: 8.2vh;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
}

.logo {
    width: 40.2vh;
    height: 20vh;
    margin-top: -1vw;
}


.bg1 {
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 5.5vh;
    height: 83.3vh;
}

.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 72vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -2.6vw;
    margin-top: 11vw;
}



}


@media only screen and (max-device-width: 1024px) and (min-device-width: 1024px) and (orientation: portrait){
	.title {
    margin-left: auto;
    margin-top: 5.1vh;
    font-size: 5vh;
    max-width: 42%;
    line-height: 6.8vh;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
    margin-right: auto;
    text-align: center;
}
.logo {
    width: 14.8vw;
    height: 8vw;
    background: url(../img/logo.svg) 0 0 no-repeat;
    background-size: contain;
    margin-left: 15.22vw;
    position: relative;
    float: left;
    margin-top: -2vw;
}

.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 80vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -38.6vw;
    margin-top: 21vw;
}
.bg1 .sub-btn {
    margin-left: -7.4vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 2.44vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-top: 1.43vw;
    padding-bottom: 1.25vw;
    position: absolute;
    outline: none !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    margin-bottom: -4vh;
    position: absolute;
    bottom: 0;
    margin-right: auto;
    left: 50%;
}

.soc1 {
    width: 6.4vw;
    height: 5vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 4.3vh !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 20.5vw;
}

.soc2 {
    width: 6.4vw;
    height: 5vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: 0vh !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 14vw;
}
}



















@media (min-width: 700px) and (max-width: 1000px) and (min-aspect-ratio: 9/10) and (max-aspect-ratio: 15/12){
.bg-form {
    background: none;
    border-radius: 2.4vw;
    max-width: 77%;
    margin: 0 auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2vh;
    z-index: 11;
    position: relative;
}

.only-mm{
	display: block !important;
}

.mvx{
	display: none !important;
}

.bg-form .sub-btn:hover{
	background: #846BA8;
	opacity: 1;
}

.anim-blk{
	display: none;
}

.logo{
	    margin: 0 auto;
	    width: 41vw;
	    margin-top: 0;
	    height: 18.5vw;
	    margin-bottom: 2.2vh;
	    background-size: contain;
	    margin-left: auto;
	    position: relative;
	    margin-right: auto;
	    float: none;
}

.bg1, .bg2 {
    padding-top: 5vh !important;
}


.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 115vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -40.6vw;
    margin-top: 29vw;
}

.title {
    margin-left: auto;
    margin-top: 1.6vh;
    font-size: 11.4vh;
    max-width: 89%;
    line-height: 12.7vh;
    color: #8669AB;
    font-family: 'Ribeye';
    clear: both;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1.2vh;
}

.title br {
    display: none;
}


body #status {
    width: 30vw !important;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -6vw 0 0 -15vw;
    height: 11vw;
    overflow: hidden;
}

.mob-br{
	display: block !important;
}



.input-area {
    margin-bottom: 5.7vw;
}

.title-sub span {
    margin-top: 15vw;
    display: block;
}

input {
    width: 100%;
    border: 0;
    border-radius: 10vw;
    background: #fff;
    height: 10.8vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: 'Sniglet', cursive;
    font-size: 4.16vw;
    color: #8669AB;
    outline: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    box-sizing: border-box;
}
label {
    display: block;
    text-align: center;
    color: #FF7ABC;
    font-family: 'Sniglet', cursive;
    font-size: 6.2vw;
    margin-bottom: 3vw;
}
.bg-form span {
    margin-top: -0.8vw;
    font-family: 'Sniglet', cursive !important;
    font-size: 3.1vw;
    color: #FF7ABC;
    text-align: center;
    display: block;
}
.bg-form .sub-btn {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 10vw;
    font-size: 6.48vw;
    margin-bottom: 0;
    padding-top: 1.5vw;
    padding-bottom: 1.4vw;
}


body .back {
    margin-right: 5vw;
    height: 11.5vw;
    width: 15vw;
    border: 0;
    border-radius: 50vw;
    margin-top: 1.96vw;
    padding: 0;
    cursor: pointer;
    background-position: center;
    background-size: 110% 100%;
    margin-top: 9.9vw;
}


.continer-block2 .logo {
    margin: 0 auto;
    width: 41vw;
    margin-top: 0;
    height: 18.5vw;
    margin-bottom: 6vw;
}
.bg2 {
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 6vw;
}
.copy {
    font-family: 'Sniglet', cursive;
    color: #fff;
    font-size: 2.3vw;
    position: absolute;
    right: 9.5vw;
    bottom: 2vw;
    margin-bottom: 2vw;
    float: right;
    display: none;
}

.continer-block2 {
    height: 86.5vh;
    position: absolute;
    width: 100%;
}
.title-sub {
    position: relative;
    font-size: 12vw;
    line-height: 14vw;
    width: 80vw;
    margin-left: -40vw;
    margin-top: 7vh;
}

body {
    line-height: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg1 .sub-btn {
    margin-left: -18vw;
    border: 0;
    background: #FF7ABC;
    color: #fff;
    font-size: 6.48vw;
    font-weight: normal;
    border-radius: 50vw;
    padding-left: 4.2vw;
    padding-right: 4.2vw;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    outline: none !important;
    transition: none !important;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
    font-family: 'Sniglet', cursive;
    text-transform: uppercase;
    margin-bottom: 1vw;
    position: relative;
    bottom: 0;
    left: 50%;
    width: 28vw;
    text-align: center;
    margin-top: 6.2vw;
    margin-bottom: 6vw;
    height: 11.2vw;
    line-height: 1vw;
}

.bg1 .sub-btn:hover{
		background: #846BA8;
	opacity: 1;
}

.bg1 {
    height: 85.3vh;
    padding-top: 5vh !important;
}

.soc1 {
    width: 11.4vw;
    height: 11.4vw;
    background: url(../img/ic1.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: auto;
    position: relative;
    left: 11vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto;
    top: 6.2vw;
}

.soc2 {
    width: 11.4vw;
    height: 11.4vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: auto;
    position: absolute;
    right: 11vw;
    left: auto;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto;
    top: 79.1vw;
    width: 11.4vw;
    height: 11.4vw;
    background: url(../img/ic2.svg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    top: auto;
    position: relative;
    right: 11vw;
    transition: all 0.3s ease 0s;
    float: right;
    bottom: auto;
    top: -17.2vw;
}

.mobile-anim-blk{
	display: block !important;
	bottom: auto;
	top: 0vw;
}

.btns-area {
    display: flex;
    margin: 0 auto;
    margin-bottom: 6vw;
}

}



.copy-s {
    background: #6CEBB6;
    z-index: 99;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 1.3vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    opacity: 0;
    transition: all 0.3s ease 0s;
    left: 0;
    right: 0;
}

.act{
	display: none;
}


@media (min-width: 166px) and (orientation : landscape) {
.copy-s{
   font-family: 'Sniglet', cursive;	
}




.act {
    opacity: 0;
      width: 0;
    overflow: hidden;
    display: block;
     transition: all 0.3s ease 0s;
       display: block;
    top: 0;
    position: absolute;
    left: 0.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 0vw;
    background: #fff;
    height: 2.7vw;
    border-radius: 60vw;
    text-align: center;
    color: #FD7DBB;
    font-family: 'Sniglet', cursive;
    font-size: 1.3vw;
    line-height: 2.8vw;
    padding-left: 0;
    padding-right: 0;
}


.soc-area:hover .act {
    display: block;
    top: 0;
    position: absolute;
    left: 0.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 11.2vw;
    background: #fff;
    height: 2.7vw;
    border-radius: 60vw;
    text-align: center;
    color: #FD7DBB;
    font-family: 'Sniglet', cursive;
    font-size: 1.3vw;
    line-height: 2.8vw;
    padding-left: 0;
    padding-right: 0;
}


.soc2:hover{
	opacity: 1;
}


span.soc-area:hover .act img {
    cursor: pointer;
    margin-left: 0.5vw;
    vertical-align: middle;
    width: 18.3vw;
    position: absolute;
    top: 0.73vw;
    transition: all 0.3s ease 0s;
    height: 1.2vw;
    left: 0;
}


.act img:hover{
	opacity: 1 !important;
}


span.soc-area {
    width: 2.7vw;
    height: 2.7vw;
    display: block;
    top: 2vh;
    position: relative;
    left: 3.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    z-index: 99;
    cursor: pointer;
}

.soc2 {
    top: 0;
    left: 0;
}


.copy-s.active{
	 animation: fadeInF 3s ease-out;
	      opacity: 0;
}

@keyframes fadeInF {
    0% {
        opacity: 0;
    }
    
     20% {
        opacity: 1;
    }
    
     80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 85vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -18.6vw;
    margin-top: 7vw;
}

span.soc-area b{
	    width: 2.7vw;
	    height: 2.7vw;
	    display: block;
	    top: 0;
	    position: absolute;
	    left: 0vw;
	    transition: all 0.3s ease 0s;
	    float: left;
	    z-index: 98;
	    border-radius: 50px;
	    background: #FEE9E8;
}

span.soc-area:hover .soc2{
	opacity: 0.4;
}


}



@media only screen
and (min-device-width : 1366px) 
and (max-device-width : 1366px) 
and (orientation : landscape) {
span.soc-area {
    top: 1vw !important;
}
 .act.hover{
	    width: 0px !important;
	    overflow: hidden;
	    padding: 0;
	    background: none !important;
	    opacity: 1 !important;
	}
	

.soc2.hover{
opacity: 1 !important;	
}

}

@media only screen and (max-width: 1200px) and (min-width: 761px) and (orientation: landscape){
span.soc-area {
    top: 1vw !important;
}	
}

@media only screen
and (min-device-width : 1024px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
 .act.hover{
	    width: 1px !important;
	    overflow: hidden;
	    padding: 0;
	    background: none !important;
	        opacity: 0 !important;
	}
	

.soc2.hover{
opacity: 1 !important;	
}


span.soc-area {
    top: 1vw !important;
    width: 3.7vw;
    height: 3.7vw;
    display: block;
    top: 0.5vw !important;
    position: relative;
    left: 4vw;
    transition: all 0.3s ease 0s;
    float: left;
}

.soc2 {
    top: 0vw !important;
}

.soc-area:hover .act {
    display: block;
    top: 0;
    position: absolute;
    left: 0.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: auto;
    background: #fff;
    height: 3.6vw;
    border-radius: 60vw;
    text-align: center;
    color: #FD7DBB;
    font-family: 'Sniglet', cursive;
    font-size: 1.6vw;
    line-height: 3.8vw;
    padding-left: 3.6vw;
    padding-right: 3.1vw;
}

.copy-s {
    font-size: 1.6vw;
}

span.soc-area:hover .act img {
    cursor: pointer;
    margin-left: 0.5vw;
    vertical-align: middle;
    width: 23.6vw;
    position: absolute;
    top: 0.99vw;
    transition: all 0.3s ease 0s;
    height: 1.5vw;
}
span.soc-area b {
    width: 3.6vw;
    height: 3.6vw;
}

}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 15/9){
	
	
body	.act {
    display: block;
    top: 0;
    position: absolute;
    left: 2.2vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 0vw;
    background: #FD7DBB;
    height: 6.21vw;
    border-radius: 60vw;
    text-align: center;
    color: #fff;
    font-family: 'Sniglet', cursive;
    font-size: 2.8vw;
    line-height: 5.8vw;
    padding-left: 0;
    padding-right: 0;
}
	
	
	
	span.soc-area{
	    width: 6.3vw;
    height: 6.3vw;
    display: block;
    top: 66vh !important;
    position: absolute;
    left: 13.5vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto !important;
}



 .act.hover{
	    width: 0px !important;
	    overflow: hidden;
	    padding: 0;
	    background: none !important;
	    opacity: 1 !important;
	}
	

.soc2.hover{
opacity: 1 !important;	
}


span.soc-area .soc2{
	    top: 0vh !important;
}

span.soc-area b{
		    width: 6.0vw;
		    height: 6.2vw;
		    w;
		    background: #fff;
}

.soc-area:hover .act {
    display: block;
    top: 0;
    position: absolute;
    left: 0.6vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 27.3vw;
    background: #FD7DBB;
    height: 6.3vw;
    border-radius: 60vw;
    text-align: center;
    color: #fff;
    font-family: 'Sniglet', cursive;
    font-size: 2.8vw;
    line-height: 6.5vw;
    padding-left: 0;
    padding-right: 0;
}

.sv-y{
	display: none;
}

.no-sv{
	display: block !important;
}

span.soc-area:hover .act img {
    cursor: pointer;
    margin-left: 1.9vw;
    vertical-align: middle;
    width: 2vw;
    position: absolute;
    top: 1.52vw;
    transition: all 0.3s ease 0s;
    width: 43vw;
    height: 3vw;
}

.no-sv{
	display: block !important;
}

.sv-y{
	display: none;
}

.copy-s {
    font-size: 2.8vw;
}
}


@media screen and (max-width: 900px) and (min-aspect-ratio: 15/9) and (min-width: 740px){
span.soc-area{
	    width: 6.3vw;
    height: 6.3vw;
    display: block;
    top: 64vh !important;
    position: absolute;
    left: 13.5vw;
    transition: all 0.3s ease 0s;
    float: left;
    bottom: auto !important;
}

span.soc-area .soc2{
	    top: 0vh !important;
}

span.soc-area b{
		    width: 6.2vw;
		    height: 6.3vw;
		    background: #fff;
}

.soc-area:hover .act {
    display: block;
    top: 0;
    position: absolute;
    left: 0.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 26.6vw;
    background: #FD7DBB;
    height: 6.21vw;
    border-radius: 60vw;
    text-align: center;
    color: #fff;
    font-family: 'Sniglet', cursive;
    font-size: 2.8vw;
    line-height: 5.8vw;
    padding-left: 0;
    padding-right: 0;
}

.act img {
    cursor: pointer;
    margin-left: 0.9vw;
    vertical-align: middle;
    width: 2vw;
    position: absolute;
    top: 1.73vw;
    transition: all 0.3s ease 0s;
    height: 2.2vw;
    width: 43vw;
}

.copy-s {
    font-size: 2.8vw;
}

}







@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) and (orientation: portrait){
	.copy-s{
   font-family: 'Sniglet', cursive;
   font-size: 2.8vw;
}




 .act.hover{
	    width: 0px !important;
	    overflow: hidden;
	    padding: 0;
	    background: none !important;
	    opacity: 1 !important;
	}
	

.soc2.hover{
opacity: 1 !important;	
}


.act {
    opacity: 0;
      width: 0;
    overflow: hidden;
    display: block;
        display: block;
    top: 0;
    position: absolute;
    right: 2.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 0vw;
    background: #fff;
    height: 6.4vw;
    border-radius: 60vw 0 0 60vw;
    text-align: center;
    color: #FD7DBB;
    font-family: 'Sniglet', cursive;
    font-size: 2.8vw;
    line-height: 6.8vw;
    padding-left: 0;
    padding-right: 0;
}


.soc-area:hover .act {
    display: block;
    top: 0;
    position: absolute;
    right: 2.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 25vw;
    background: #fff;
    height: 6.4vw;
    border-radius: 60vw 0  0  60vw;
    text-align: center;
    color: #FD7DBB;
    font-family: 'Sniglet', cursive;
    font-size: 2.8vw;
    line-height: 6.8vw;
    padding-left: 0;
    padding-right: 0;
}


.soc2:hover{
	opacity: 1;
}


.act img {
    cursor: pointer;
    margin-left: 0.5vw;
    vertical-align: middle;
    width: 29.1vw;
    position: absolute;
    top: 2.1vw;
    transition: all 0.3s ease 0s;
    height: 2.5vw;
    left: -11.5vw;
}


.act img:hover{
	opacity: 0.4;
}


span.soc-area {
    width: 6.4vw;
    height: 5vw;
    display: block;
    top: 4.3vh !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 14vw;
        
        width: 6.4vw;
    height: 6.4vw;
    display: block;
    top: 4.6vh !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 7vw;
}

.soc2 {
    top: 0;
    left: 0;
}


.copy-s.active{
	 animation: fadeInF 3s ease-out;
	      opacity: 0;
}

@keyframes fadeInF {
    0% {
        opacity: 0;
    }
    
     20% {
        opacity: 1;
    }
    
     80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 85vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -18.6vw;
    margin-top: 7vw;
}

span.soc-area b{
	    width: 6.2vw;
	    height: 6.2vw;
	    display: block;
	    top: 0;
	    position: absolute;
	    left: 0vw;
	    transition: all 0.3s ease 0s;
	    float: left;
	    z-index: 98;
	    border-radius: 50px;
	    background: #FEE9E8;
}

span.soc-area:hover .soc2{
	opacity: 0.4;
}

}




@media (min-width: 1024px) and (max-width: 1024px) and (orientation : portrait) {
.copy-s{
   font-family: 'Sniglet', cursive;	
   font-size: 2.2vw;
}


 .act.hover{
	    width: 0px !important;
	    overflow: hidden;
	    padding: 0;
	    background: none !important;
	    opacity: 1 !important;
	}
	

.soc2.hover{
opacity: 1 !important;	
}




.act {
    opacity: 0;
      width: 0;
    overflow: hidden;
    display: block;
}


.soc-area:hover .act {
    display: block;
    top: 0;
    position: absolute;
    left: 0.7vw;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 18.5vw;
    background: #fff;
    height: 4.9vw;
    border-radius: 60vw;
    text-align: center;
    color: #FD7DBB;
    font-family: 'Sniglet', cursive;
    font-size: 2.2vw;
    line-height: 4.8vw;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.6vw;
}


.soc2:hover{
	opacity: 1;
}


.act img {
    cursor: pointer;
    margin-left: 0.5vw;
    vertical-align: middle;
    width: 32.1vw;
    position: absolute;
    top: 1.53vw;
    transition: all 0.3s ease 0s;
    height: 1.9vw;
    left: 0;
}


.act img:hover{
	opacity: 0.4;
}


span.soc-area {
    width: 6.4vw;
    height: 5vw;
    display: block;
    top: 4.3vh !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 14vw;
}

.soc2 {
    top: 0;
    left: 0;
}


.copy-s.active{
	 animation: fadeInF 3s ease-out;
	      opacity: 0;
}

@keyframes fadeInF {
    0% {
        opacity: 0;
    }
    
     20% {
        opacity: 1;
    }
    
     80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 85vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -18.6vw;
    margin-top: 7vw;
}

span.soc-area b{
	    width: 5vw;
	    height: 5vw;
	    display: block;
	    top: 0;
	    position: absolute;
	    left: 0vw;
	    transition: all 0.3s ease 0s;
	    float: left;
	    z-index: 98;
	    border-radius: 50px;
	    background: #FEE9E8;
}

span.soc-area:hover .soc2{
	opacity: 0.4;
}


}
span.soc-area{
	color: #FD7DBB;
}



.hover{
	color: #FECBE3 !important;
}

body span.soc-area .hover img{
	opacity: 0.4 !important;
}


@media (max-aspect-ratio: 15/9) and (max-width: 760px){
		.copy-s{
   font-family: 'Sniglet', cursive;
   font-size: 5.8vw;
}


 .act.hover{
	    width: 0px !important;
	    overflow: hidden;
	    padding: 0;
	    background: none !important;
	    opacity: 1 !important;
	}
	

.soc2.hover{
opacity: 1 !important;	
}



.act {
    opacity: 0;
      width: 0;
    overflow: hidden;
    display: block;
    top: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 0vw;
    background: #fff;
    height: 11.5vw;
    border-radius: 60vw;
    text-align: center;
    color: #FD7DBB;
    font-family: 'Sniglet', cursive;
    font-size: 5.8vw;
    line-height: 11.5vw;
    margin-left: 14.6vw;
    margin-right: 14px;
    margin-top: -0vw;
}




.soc-area:hover .act {
    display: block;
    top: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
    float: left;
    opacity: 1;
    width: 55.5vw;
    background: #fff;
    height: 11.5vw;
    border-radius: 60vw;
    text-align: center;
    color: #FD7DBB;
    font-family: 'Sniglet', cursive;
    font-size: 5.8vw;
    line-height: 11.5vw;
    margin-left: 14.6vw;
    margin-right: 7px;
    margin-top: -0vw;
}


.soc2:hover{
	opacity: 1;
}


.act img {
    cursor: pointer;
    margin-left: 0.5vw;
    vertical-align: middle;
    width: 0.1vw;
    position: absolute;
    top: 3.6vw;
    transition: all 0.3s ease 0s;
    height: 4.5vw;
    left: -22.8vw;
}


.soc-area:hover .act img {
    width: 63.1vw;
}



.act img:hover{
	opacity: 0.4;
}


span.soc-area {
    width: 6.4vw;
    height: 5vw;
    display: block;
    top: 4.3vh !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 14vw;
    width: 6.4vw;
    height: 6.4vw;
    display: block;
    top: 0 !important;
    position: absolute;
    left: auto;
    transition: all 0.3s ease 0s;
    float: right;
    right: 7vw;
    width: 11.4vw;
    height: 11.4vw;
    display: block;
    top: -15.2vw !important;
    position: relative;
    right: 11vw;
    transition: all 0.3s ease 0s;
    float: right;
    bottom: auto;
    top: 0;
}

.soc2 {
    top: 0;
    left: 0;
}


.copy-s.active{
	 animation: fadeInF 3s ease-out;
	      opacity: 0;
}

@keyframes fadeInF {
    0% {
        opacity: 0;
    }
    
     20% {
        opacity: 1;
    }
    
     80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.b3:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 58vh;
    background: url(../img/ako.png) 0 0 no-repeat;
    background-size: cover;
    background-position: -30.6vw;
    margin-top: 29vw;
}

span.soc-area b{
	    width: 11.4vw;
	    height: 11.4vw;
	    display: block;
	    top: 0;
	    position: absolute;
	    left: 0vw;
	    transition: all 0.3s ease 0s;
	    float: left;
	    z-index: 98;
	    border-radius: 50px;
	    background: #FEE9E8;
}

span.soc-area:hover .soc2{
	opacity: 0.4;
}
}


span.soc-area.active:hover .act {
    width: 1px;
    overflow: hidden;
    padding: 0;
    background: none;

}

span.soc-area.active:hover .soc2{
	opacity: 1;
}

